@charset "utf-8";

/*
Design System のメモ

1. Font Family
  - 'Work Sans'
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;	regular
	font-weight: 500;	medium
	font-weight: bold;	BOLD(700)
  - "Crimson Text"
	font-family: "Crimson Text", serif;
	font-weight: bold;	BOLD(700)
2. Color
  - background: #74C69D;	ミントグリーン
  - background: #212529;	ボタンの黒
3. Breakpoints
  - 375px以下でmobile
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.when-desktop { display: block; }
.when-mobile { display: none; }

body {
	/* リキッド */
	width: 100%;
	max-width: 1440px;

	/* 中央寄せ */
	margin: 0 auto;

	/* 全体の規定フォントを設定 */
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

header.page-header {
	background: #74C69D;
	color: white;
}

header .wrapper {
	/* リキッド */
	width: 80%;
	max-width: 1175px;

	/* 中央寄せ */
	margin: 0 auto;

	/* 縦方向で真ん中に寄せるために、まず高さを指定して、display:flexとalign-items:centerを利用します */
	height: 123px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .wrapper h1 {
	font-weight: 500;
	/* 縦方向で真ん中に寄せるために、display:flexとalign-items:centerを利用します */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	height: 48px;
	display: flex;
	align-items: center;
	gap: 30px;
}

main > section {
	text-align: center;		/* インライン要素であるbuttonを中央寄せ */
}

header.main-header {
	display: flex;
	flex-direction: column; /* 主軸を縦方向にし、flex itemを縦に並べる */
	gap: 16px;				/* flex item間の隙間 */

	/* ボックスを中央寄せ */
	width: 100%;
	max-width: 411px;
	margin: 20px auto 80px;	/* top:20px, bottom:80px */

	/* 内容も中央寄せ */
	text-align: center;
}

header.main-header .lead {
	color: #74C69D;
	font-weight: bold;
}

header.main-header h2 {
	font-family: "Crimson Text", serif;
	font-weight: bold;
	font-size: 40px;
}

header.main-header .desc {
	font-size: 20px;
	line-height: 1.25;	/* font-sizeの125% */
}

ul.works {
	/* リキッド */
	width: 80%;
	max-width: 1187px;

	/* 中央寄せ */
	margin: 0 auto;

	list-style: none;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 55px;
}

ul.works li {
	width: calc((100% - 55px) / 2); /* ulの幅を100%とし、そこからgap幅の55pxを引いたなかに２つのliを入れたい */
}

ul.works img {
	/* リキッド */
	width: 100%;
	max-width: 570px;
}

button {
	background: #212529;
	border: none;			/* 規定のbutton要素のスタイルを無効にする */
	cursor: pointer;        /* マウスカーソルを乗せた時にカーソルを手のアイコンに変える */
	border-radius: 5px;
	width: 170px;
	height: 48px;
	margin-top: 64px;
	margin-bottom: 100px;
}

button p {
	color: white;
	font-size: 20px;
}

footer {
	background: #74C69D;
	color: white;
}

footer .wrapper {
	height: 125px;

	/* リキッド */
	width: 80%;
	max-width: 1178px;

	/* 中央寄せ */
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer ul.sns {
	display: flex;
	gap: 20px;
	width: 243px;
	list-style: none;
}

footer small {
	font-size: 20px;
}

/*
モバイルデバイス用 

MEMO このソースではこのサイズより小さい時には固定とし、リキッドを考慮しない

*/
@media (max-width: 375px) {

	.when-desktop { display: none; }
	.when-mobile { display: block; }

	header .wrapper {
		height: 70px;
	}

	header .wrapper h1 {
		font-weight: 500;
		/* 縦方向で真ん中に寄せるために、display:flexとalign-items:centerを利用します */
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header .logo {
		width: 45px;
	}

	article {
		text-align: center;		/* インライン要素であるbuttonを中央寄せ */
	}

	header.main-header {
		margin: 36px auto 36px;	/* top:36px, bottom:36px */
	}

	header.main-header h2 {
		font-size: 24px;
	}

	ul.works {
		width: auto;
	}
	
	ul.works li {
		width: auto;
	}

	ul.works img {
		width: 90%;
		max-height: 197px;
	}

	button {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	footer {
		height: 125px;
		display: flex;
		align-items: center;
	}
	
	footer .wrapper {
		width: 100%;
		height: 63px;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}

}

/*
部品単位のブレークポイント
730px以下でヘッダーとフッターを切り替え

ここに書いたスタイル指定は、モバイルデバイス用(max-width: 375px)から
コピペしてきた。
モバイルデバイス用からは消してかまわないが、モバイルデバイス用として作成したものに由来することを示すためにモバイルデバイス用の方にも残してある
*/

@media (max-width: 730px) {

	.when-desktop { display: none; }
	.when-mobile { display: block; }

	footer {
		height: 125px;
		display: flex;
		align-items: center;
	}

	footer .wrapper {
		width: 100%;
		height: 63px;
		flex-direction: column;
		justify-content: space-between;
	}

}
